<% include partials/header %>
<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Create a new recipe</h1>

        </div>

        <div class="col-md-12 justify-content-center align-items-center">

            <form action="/recipes" method="POST">
                <div class="form-group">
                    <!--//the recipes comes from the app.post "/recipes the attribute name is to get the data inside of our route-->
                    <input class="form-control-lg" type="text" name="name" placeholder="name">
                </div>

                <div class="form-group">
                    <input class="form-control-lg" type="text" name="image" placeholder="image url">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-success">Submit Recipe</button>
                </div>

            </form>

            <a href="/recipes">See all recipes</a>
        </div>
    </div>


</div>
<% include partials/footer %>